{% extends 'teacher/teacherbase.html' %}

{% block content %}

 {% load tailwind_filters %}

<div class="flex flex-1 mt-10 px-[15%]">
    
    <div class="w-full mt-3">
        <div class="flex flex-col gap-3 px-3 py-4  border">
            <h2 class="text-2xl font-bold items-center text-center ">Insert Content</h2>
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Submit" class="text-sm font-medium px-3 py-2 items-center justify-center rounded-lg bg-blue-500 w-full text-white">
            </form>
        </div>
    </div>
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $("#id_course").change(function () {
    var courseId = $(this).val();
    $.ajax({
      url: "{% url 'ajax_load_topics' %}",   // 👈 Django URL name
      data: {
        'course_id': courseId
      },
      success: function (data) {
        $("#id_topic").html('');
        $("#id_topic").append('<option value="">Select Topic</option>');
        $.each(data, function (index, topic) {
          $("#id_topic").append('<option value="' + topic.id + '">' + topic.topic_name + '</option>');
        });
      }
    });
  });
</script>

{% endblock content %}