{% extends 'admin/adminbase.html' %}

{% block content %}

 {% load tailwind_filters %}

<div class="flex flex-1 mt-10 px-[5%]">
 
    <div class="w-full mt-3">
        <div class="flex flex-col gap-3 px-3 py-4  border">
            <h2 class="text-2xl font-bold ">Update Courses</h2>
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Update" class="text-sm font-medium px-3 py-2 items-center justify-center rounded-lg bg-blue-500 w-full text-white">
            </form>
        </div>
    </div>
</div>
  
{% endblock content %}