<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>StudtPoint</title>
</head>

<body>


    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class=" flex flex-1 items-center justify-between  px-[5%] py-8">
            <a href="{% url 'homepage' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://learnsyntax.com/assets/LearnSyntax.png" class="h-8" alt="LearnSyntax Logo" />

            </a>




            <div class=" flex">
                <ul
                    class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="{% url 'homepage' %}"
                            class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
                    </li>
                    <li>
                        <a href="{% url 'allcourse' %}"
                            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Courses</a>
                    </li>
                </ul>
            </div>
            <div class="flex ">
                <form method="GET" action="{% url 'search' %}" class="flex gap-2">
                    <input type="text" name="q" placeholder="Search here..." class="border px-2 py-1 rounded">
                    <button type="submit" class="bg-blue-600 text-white px-3 py-1 rounded">Search</button>
                </form>
            </div>
            <div class="flex  gap-3 items-center  px-5">
                {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
                {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>

        </div>

    </nav>

    {% block content %}

    {% endblock content %}
</body>

</html>